$fa-font-path: "../fonts";
$icon-font-path: "../fonts/";
$dark-transparency-25: rgba(0,0,0,0.25);
$dark-transparency-50: rgba(0,0,0,0.5);
$dark-transparency-75: rgba(0,0,0,0.75);
$light-transparency-25: rgba(255,255,255,0.25);
$light-transparency-50: rgba(255,255,255,0.5);
$light-transparency-75: rgba(255,255,255,0.75);
